# Ignore any Node-related temporary files
node_modules

# Ignore taskfile processing directory
.task

# Ignore the prettier cache
.prettier.cache

# Ignore Go processing files
**/.coverage
**/coverage.out
**/coverage.html
**/report.xml

# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore CDKTF processing directories
infra/.gen/*
infra/generated/*
dist/*
