# Ignore any Node-related temporary files
node_modules/*

# Ignore taskfile processing directory
.task/*

# Ignore the prettier cache
.prettier.cache

# Ignore CDKTF processing directories
infra/.gen/*
infra/generated/*
deploy/*
