# Ignore any Node-related temporary files
node_modules/*

# Ignore taskfile processing directory
.task/*

# Ignore prettier cache file
.prettier.cache

# Ignore CDKTF processing directories
infra/.gen/*
infra/generated/*
deploy/*

# Ignore any GoLang files as GoLang-based tools will manage these
**/*.go
**/go.mod
**/go.sum
**/go.work
**/.coverage
**/.coverage.out
**/.coverage.html
**/report.xml
